@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


:root{
    --main-color:#8e44ad;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
 }

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
}
html{
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: var(--white);
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}
section {
    padding: 5rem 10%;
}
.btn {
    display: inline-block;
    font-size: 1.7rem;
    padding: 1rem 3rem;
    background: var(--main-color);
    color: var(--white);
    cursor: pointer;
}
.btn:hover{
    background: var(--black);
}
.heading-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--black);
}

/* Mise en forme du header */
.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000 !important;
    background: var(--white);
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 2rem;
     padding-bottom: 2rem;
     box-shadow: var(--box-shadow);
}
.header .logo {
    font-size: 2.5rem;
    color: var(--black);

}
.header .navbar {
    z-index: 1000;
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}
.header .navbar a:hover {
    color: var(--main-color);
}
#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}

.home{
    padding: 0;
}
.home .slide {
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 60rem;
}
.home .slide .content{
    width: 85rem;
    display: none;
}
.home .swiper-slide-active .content{
    display: inline-block;

}

@keyframes fade {
    0%{
        transform: scale(0);
        opacity: 0;
    }
}

.home .slide .content span{
    display: block;
    font-size: 3rem;
    color: var(--white);
    padding-bottom: 1rem;
    animation: fade .3s linear backwards .2s;
}
.home .slide .content h3{
    font-size: 6vw;
    color: var(--white);
    text-transform: uppercase;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
    animation: fade .3s linear backwards .4s;
}
.home .slide .content .btn {
    animation: fade .3s linear backwards .6s;
}

.swiper-button-next,
.swiper-button-prev{
   height: 7rem;
   width: 7rem;
   background: var(--white);
   color: var(--black);
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
   background: var(--main-color);
   color: var(--white);
}
.swiper-button-next:after,
.swiper-button-prev:after{
 font-size: 2rem;
}

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
    gap: 1.5rem;
}
.services .box-container .box {
    text-align: center;
    background: var(--main-color);
    padding: 3rem 2rem;
    cursor: pointer;
}
.services .box-container .box:hover{
    background: var(--black);
}
.services .box-container .box img{
    height: 7rem;
}
.services .box-container .box h3{
    font-size: 1.7rem;
    color: var(--white);
    padding-top: 1rem;
}

.home-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.home-about .image{
    flex: 1 1 41rem;
}
.home-about .image img{
    width: 100%;
}
.home-about .content{
    flex:  1 1 41rem;
    padding: 3rem;
    background: var(--light-bg);
}
.home-about .content h3{
    font-size: 3rem;
    color: var(--black);
}
.home-about .content p{
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
    color: var(--black);
}

.home-packages{
    background: var(--light-bg);
}
.home-packages .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 2rem;
}
.home-packages .box-container .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
}
.home-packages .box-container .box .image{
    height: 25rem;
    overflow: hidden;
}
.home-packages .box-container .box:hover .image img{
    transform: scale(1.1);
}
.home-packages .box-container .box .image img{
    height: 100%; width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.home-packages .box-container .box .content{
    padding: 2rem;
    text-align: center;
}
.home-packages .box-container .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
}
.home-packages .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}
.home-packages .load-more{
    text-align: center;
    margin-top: 2rem;
}

.home-offer{
    text-align: center;

}
.home-offer .content{
    max-width: 70rem;
    margin: 0 auto;
}
.home-offer .content h3{
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--black);
}
.home-offer .content p{
    font-size: 1.5rem;
    color: var(--light-black);
    line-height: 2;
    padding: 1rem 0;
}

.footer{
    background: url(../images/footer-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 1rem;
}
.footer .box-container .box h3{
    color: var(--white);
    font-size: 1.5rem;
    display: block;
}
.footer .box-container .box a{
    color: var(--light-white);
    font-size: 1.5rem;
    display: block;
}
.footer .box-container .box a i{
    color: var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}
.footer .home-right{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-white);
    font-size: 2rem;
    color: var(--white);
}
.footer .home-right span {
    color: var(--main-color);
}


@media (max-width:1200px){
    section{
        padding: 3rem 5%;
    }
}
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    section {
        padding: 3rem 2rem;
    }
}

@media (max-width: 768px){
    #menu-btn{
        display: inline-block;
        transition: .3s linear;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        top: 99%; left: 0; right: 0;
        background: var(--white);
        padding: 2rem;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .3s linear;
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        text-align: center;
        margin: 2rem;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .heading-title{
        font-size: 3.5rem;
    }
}